[build]
  base = "frontend"
  command = "npm run build"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true

[dev]
  # When running `netlify dev`, forward to CRA dev server on port 3000
  targetPort = 3000
